@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #e5e5e5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  flex-grow: 1;
}

.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка */

.page-header {
  margin: 0 auto;
  margin-bottom: -5px;
  z-index: 1;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  box-sizing: border-box;
}

.navigation-list {
  margin-bottom: 0;
  padding: 0;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  margin-top: -6px;
  list-style-type: none;
  align-items: center;
}

.page-header-logo {
  margin-right: 47px;
  margin-bottom: 0;
  vertical-align: bottom;
}

.navigation-user .navigation-item {
  display: block;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.navigation-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 17px;
  margin-right: 34px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.current {
  border-bottom: #000000 solid 2px;
}

.button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.button-go {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
  width: 160px;
  box-sizing: border-box;
  margin-left: 19.87px;
  margin-right: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-go:hover,
.button-go:focus {
  background-color: #615048;
}
.button-go:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-go:disabled {
  background-color: #e5e5e5;
}

.search-icon {
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 42px;
  background-position: center;
  padding-right: 0;
  padding-bottom: 0;
}

.favorite-icon {
  position: relative;
  background-image: url("../images/header/favorite.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 42px;
  background-position: center;
  padding-right: 0;
  padding-bottom: 0;
}

.amount {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  position: absolute;
  top: -9px;
  left: 24px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* Приветственный баннер */

.welcome {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background-image: url("../images/welcome/welcome-background.jpg");
  background-color: #000000;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}

.inscription {
  display: block;
  margin: 0 auto;
}

.first-inscription {
  margin-top: 51.4px;
  margin-bottom: 11px;
}

.second-inscription {
  margin-bottom: 53.32px;
}

.third-inscription {
  margin-bottom: 26.03px;
}

/* Преимущества */

.advantages {
  position: relative;
}

.advantages::before {
  content: "";
  display: block;
  position: absolute;
  width: 1200px;
  height: 57px;
  background-image: url("../images/welcome/welcome-mask.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -120px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages-title {
  margin-top: 63px;
  margin-bottom: 31px;
  padding-left: 10px;
  padding-right: 10px;
}

.description {
  text-align: center;
  margin: 0;
}

.advantages-description {
  margin-bottom: 90px;
  padding-left: 10px;
  padding-right: 10px;
}

.advantages-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
}

.advantages-item {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  padding: 102px 85px;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.city {
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  padding: 0;
}

.bridge {
  display: flex;
  width: 1200px;
  flex-direction: row;
  padding: 0;
}

.photo-street,
.photo-bridge {
  height: auto;
  flex-grow: 1;
}

.card-description {
  width: 400px;
  box-sizing: border-box;
  padding: 92px 85px;
  flex-grow: 1;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-item-number {
  display: block;
  margin-bottom: 30px;
}

.city-adventages-item {
  box-sizing: border-box;
  padding: 80px 85px;
}

.city-adventages-item img {
  margin: 0 auto;
}

.city-adventages-item:first-child img {
  margin-bottom: 32px;
}

.city-adventages-item:nth-child(2) img {
  margin-bottom: 34px;
}

.city-adventages-item:nth-child(3) img {
  margin-bottom: 28px;
}

/* Фоны и для блока преимуществ */
.basic {
  background-color: #82b3d3;
  color: #ffffff;
}

.light {
  background-color: rgba(131, 179, 211, 0.2);
}

.opacity {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Поиск отелей */

.search-hotels {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.search-hotels-title {
  margin-top: 91px;
  margin-bottom: 29px;
  padding-left: 452px;
  padding-right: 452px;
}

.search-hotels-description {
  margin-top: 0;
  margin-bottom: 56px;
  padding-left: 10px;
  padding-right: 10px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  width: 574px;
  margin: 0 auto;
  margin-bottom: 93px;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: #615048;
}
.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #e5e5e5;
}

/* Рассылка */

.mailing {
  background-image: url("../images/mailing-background.jpg");
  background-color: #000000;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.mailing-title {
  margin-top: 0;
  margin-bottom: 29px;
  padding-right: 398px;
  padding-left: 398px;
}

.mailing-description {
  margin-top: 0;
  margin-bottom: 46px;
  padding-right: 363px;
  padding-left: 363px;
}

.catalog-mailing {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  padding-bottom: 94px;
}

.mailing-form {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}

.mailing-input {
  font-family: "PT Sans";
  width: 600px;
  margin-top: 0;
  margin-right: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 22px;
  line-height: 20px;
  font-size: 18px;
  border: #fff solid 2px;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
}

.catalog-mailing-input {
  background-color: #f2f2f2;
  border: #f2f2f2 solid 2px;
}

.mailing-form input:hover,
.mailing-form input:focus {
  border: #68a2ca solid 2px;
}

.mailing-form input:active {
  border: #3f5e72 solid 2px;
}

.mailing-form input:disabled {
  border: #0000004d solid 2px;
  color: rgba(0, 0, 0, 0.3);
}

.mailing-button {
  font-size: 20px;
  line-height: 36px;
  background: #82b3d3;
  width: 200px;
  padding: 12px 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.mailing-button:hover,
.mailing-button:focus {
  background-color: #68a2ca;
}

.mailing-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.mailing-button:disabled {
  background-color: #e5e5e5;
}

/* Подвал */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icon svg {
  display: block;
  padding: 11.5px 12.67px;
  fill: #83b3d3;
}

.social-icon:hover svg,
.social-icon:focus svg {
  fill: #68a2ca;
}

.social-icon:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  padding-left: 4px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-contacts-logo {
  padding-top: 3px;
}

.footer-contacts-logo svg {
  fill: #000;
}

.footer-contacts-logo:hover svg,
.footer-contacts-logo:focus svg {
  fill: #756157;
}

.footer-contacts-logo:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* Фильтры */

.inner-header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/filter-background.jpg");
  background-color: #000000;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  margin-top: 0;
  padding: 70px;
  padding-top: 35px;
  box-sizing: border-box;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 38px;
  align-items: center;
}

.breadcrumbs-item:not(:last-child) {
  background-image: url("../images/white-arrow.svg");
  background-repeat: no-repeat;
  background-position: 24px center;
}

.home-page {
  display: block;
  margin-right: 24px;
  margin-left: 1px;
  margin-top: -2px;
}

.hotel-page {
  display: block;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link svg {
  fill: #ffffff;
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Формы */
/* Крупные блоки */

.catalog-hotels {
  width: 100%;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  width: 365.84px;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group {
  border: none;
  padding: 0;
}

.infrastructure {
  width: 153px;
}

.housing-type {
  width: 145.41px;
}

.price-and-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 518.27px;
  justify-content: space-between;
}

.price-and-range {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

/* Тип жилья и инфраструктура */

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-title-price {
  margin-bottom: 34px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
  padding-bottom: 15px;
}

.catalog-filter-item:last-child {
  padding-bottom: 0;
}

.control {
  position: relative;
  display: block;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  width: 20.06px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark,
.control-input[type="radio"]:focus + .control-mark-radio {
  outline: 3px solid #68a2ca;
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  outline: 3px solid #68a2ca;
  background-color: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:disabled .control-mark {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:disabled .control-mark-radio {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  background-image: url("../images/form-mark.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 10px;
  content: "";
}

.control-input[type="radio"]:checked + .control-mark-radio::after {
  background-image: url("../images/form-round.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  content: "";
}

.control-mark-radio {
  position: absolute;
  width: 20.06px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

/* Стоимость */

.control-label {
  padding-left: 39.05px;
}

.range-input {
  box-sizing: border-box;
  width: 144px;
  border: solid 2px #ffffff;
  background-color: transparent;
  color: #fff;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-bottom: 28px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #ffffff;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #ffffff;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.range-input:focus {
  border-color: #fff;
  border: 2px solid white;
  box-shadow: 0 0 0 3px #81b3d2;
}

.range-input:active {
  background-color: #756257;
}

.control-min {
  position: relative;
}

.control-max {
  position: relative;
}

.maximum,
.minimum {
  position: absolute;
  right: 15px;
  top: 12px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #777777;
  cursor: pointer;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
  cursor: pointer;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: -1px;
}

/* Кнопки формы */

.toggle-max {
  top: -8px;
  right: -8px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-right: 2px;
  margin-bottom: -2px;
  margin-top: 60px;
}

.submit {
  display: block;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  margin-bottom: -6px;
  padding: 15px;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background-color: #68a2ca;
}

.submit:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.submit:disabled {
  background-color: #e5e5e5;
}

.reset {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  text-transform: capitalize;
  padding-top: 20px;
  cursor: pointer;
  border: 3px solid transparent;
}

.reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Каталог */
/* Заголовок каталога */

.catalog-hotels-result {
  color: #000000;
  margin-bottom: 96px;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
  margin-top: 54px;
  margin-bottom: 54px;
  padding-left: 72px;
  padding-right: 72px;
  box-sizing: border-box;
}

.catalog-hotels-result-title {
  margin-right: 191px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  width: 287px;
  margin-right: 78px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: #e5e5e5 2px solid;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/filter-arrow.svg");
  background-repeat: no-repeat;
  background-position: 258px center;
}

.select-control:hover,
.select-control:focus {
  border: #68a2ca 2px solid;
}

.select-control:active {
  border: #3f5e72 2px solid;
}

.select-control:disabled {
  border: rgba(0, 0, 0, 0.3) 2px solid;
  color: rgba(0, 0, 0, 0.3);
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pic {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  padding: 17px;
  border: #e5e5e5 2px solid;
  border-radius: 4px;
  margin-right: 8px;
}

.pic:hover,
.pic:active {
  border: #000000 2px solid;
}

.pic:focus {
  border: #68a2ca 2px solid;
}

.table-icon {
  background-image: url("../images/icon-table.svg");
  border: #000000 2px solid;
}

.slideshow-icon {
  background-image: url("../images/icon-slideshow.svg");
}

.list-icon {
  background-image: url("../images/icon-list.svg");
  margin-right: 0;
}

/* Карточки отелей */

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 0 18px;
  list-style-type: none;
  padding-left: 72px;
  padding-right: 71px;
  margin-top: 0;
  margin-bottom: 0;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.hotel-card > img {
  display: block;
  margin-bottom: 17px;
}

.hotel-card h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
  margin-top: 0;
}

.hotel-price {
  display: flex;
  margin-bottom: 16px;
  margin-top: 0;
  justify-content: space-between;
}

.hotel-card span {
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-buttons {
  display: flex;
  margin-bottom: 15px;
  margin-top: 0;
  justify-content: space-between;
}

.button-info {
  font-size: 14px;
  width: 140px;
  background-color: #756157;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 1px;
}

.button-info:hover,
.button-info:focus {
  background-color: #615048;
}
.button-info:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-info:disabled {
  background-color: #e5e5e5;
}

.button-favorites {
  font-size: 14px;
  width: 140px;
  text-align: center;
  background-color: #82b3d3;
  padding-top: 9px;
  padding-bottom: 9px;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 1px;
}

.button-favorites:hover,
.button-favorites:focus {
  background-color: #68a2ca;
}

.button-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites:disabled {
  background-color: #e5e5e5;
}

.liked {
  background-color: #7db54f;
  padding-top: 9px;
  padding-bottom: 9px;
}

.liked:hover,
.liked:focus {
  background-color: #6c9e42;
}

.liked:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.hotel-rating b {
  width: 140px;
  box-sizing: border-box;
  padding: 9px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Пагинация */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 114px;
  margin-top: 0;
  padding-left: 73px;
  padding-right: 71px;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.pagination::before {
  content: "";
  position: absolute;
  background-image: url("../images/line.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1055px;
  height: 1px;
  top: -30px;
  left: 73px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  box-sizing: border-box;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.pagination-item {
  margin-bottom: 5px;
  padding-right: 8px;
}

.pagination-item:last-child {
  padding-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding-top: 11.36px;
  padding-bottom: 12.64px;
  width: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.hotel-number {
  display: flex;
  align-items: center;
}

.number-title {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-right: 51px;
}

.number {
  margin: 0;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  background-position: 125px 15px;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  left: 592px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: #f2f2f2 3px solid;
  box-sizing: border-box;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #e6e6e6;
}

.modal-close-button:hover {
  border: #e6e6e6 3px solid;
}

.modal-close-button:focus {
  border: #83b3d3 3px solid;
  outline: none;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  border: #e6e6e6 3px solid;
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form-field::-webkit-outer-spin-button,
.search-form-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.field-group-date {
  display: flex;
  flex-wrap: wrap;
  width: 575px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}

.search-form label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.field {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.field-date {
  width: 420px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
}

.field:hover,
.field:focus {
  background-color: #e6e6e6;
}

.field:hover {
  outline: 3px solid #e6e6e6;
}

.field:focus {
  outline: 3px solid #83b3d3;
}

.field:active {
  background-color: #fff;
  outline: 3px solid #000000;
}

.comment {
  position: absolute;
  top: 58px;
  padding-left: 155px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  margin-bottom: 11px;
}

.comment-start {
  color: #ff5757;
}

.date-start,
.date-finish {
  position: relative;
}

.calendar {
  background-image: url("../images/calendar.svg");
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.calendar-start {
  position: absolute;
  top: 18px;
  right: 17px;
}

.calendar-finish {
  position: absolute;
  top: 18px;
  right: 17px;
}

.info {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83b3d3;
  cursor: pointer;
}

.number-of-people {
  display: flex;
  flex-wrap: wrap;
  width: 575px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 37px;
}

.people-adults {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.people-children {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.info {
  position: absolute;
  right: 151px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.people input {
  width: 133px;
  box-sizing: border-box;
  padding: 15px;
  padding-left: 62px;
}

.plus {
  background-image: url("../images/plus.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 30%;
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.minus {
  background-image: url("../images/minus.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 30%;
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.adult-plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 19px;
}

.adult-minus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 101px;
}

.child-plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 19px;
}

.child-minus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 101px;
}

.button-people:hover {
  opacity: 100%;
}

.button-people:focus {
  opacity: 100%;
  outline: 3px solid #83b3d3;
}

.button-people:active {
  opacity: 30%;
  border: none;
}

.button-find {
  width: 575px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 12px 26px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 36px;
  background-color: #83b3d3;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-find:hover {
  background-color: #68a2ca;
  outline: 3px #68a2ca solid;
}

.button-find:focus {
  background-color: #68a2ca;
  outline: 3px #756257 solid;
}

.button-find:active {
  background-color: #68a2ca;
  outline: 3px #68a2ca solid;
  color: rgba(242, 242, 242, 0.3);
}

.note {
  width: 256px;
  min-height: 143px;
  background-color: #333333;
  color: #ffffff;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 18px 15px 22px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -144px;
  right: 36px;
  display: none;
}

.note::before {
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 9px;
  content: "";
  position: absolute;
  top: -9px;
  right: 119px;
}

.info:hover + .note {
  display: block;
}
